<html>
<head>
  <title>Musical Instruments</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <!----------------------------Navbar Css Files---------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="models/caro.js"></script>


  <style type="text/css">
    body {
        background: linear-gradient(to right,#ff5f6d,#f7b733);
    }
    
    
    .col-12.col-sm-12.col-md-5, .col-12.col-sm-12.col-md-7 {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    
    .image-wrapper img {
        width: 100%;
    }
    
    #lt-blog p {
        padding-top: 10px;
    }	
        
    
    p { text-align: justify; }
    
    div#lt-blog p span {
        color: #a9a9a9;
    }
    
    .audio-container {
    padding: 20px 0px;
}
    
    
    button.more {
    border: 2px solid #fff;
    background: transparent;
    padding: 7px 20px;
    float: right;
    color: #fff;
}
    
.container.grid-layout .more {
    background: transparent;
    padding: 7px 20px;
    float: right;
    color: #000;
}
.container-sec {
    background-image: url(uploads/ban-img.jpg);
    padding: 130px 100px; background-size: cover;
}
 
    
.container.grid-layout .fa {
    color: #000 !important; 
    padding: 6px 20px;
} 
.fa-play:before {
    content: "\f04b";
    font-size: 26px;
}
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
    
    .blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;
}
/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    width: 8px;
    height: 8px;
}
.blog .carousel-indicators .active {
background: #707070;
}
div#blogCarousel .col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
}
.row.blog .col-md-12 {
    padding: 0px;
}
  
/** css for accordion **/
.custom-accordion {margin-bottom: 50px; width: 100%;}
 
button.accordion {
  width: 100%;
  background-color: #10112c;
  border: none;
  outline: none;
  text-align: left;
  padding: 25px 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
button.accordion:hover, button.accordion.is-open {
    background-color: #10112c !important;
    color: #fff;
    border: none;
}
 
button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
  margin-top: -25px;
  
}
 
button.accordion.is-open:after {
  content: '\f056';
}
 
button.accordion:hover, button.accordion.is-open {
  background-color: #ddd;
}
 
.accordion-content {
  background-color: #10112c;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
button.accordion.is-open {
    font-weight: 800;
}
button.accordion {
    font-weight: 800;
}
.container-acc p {
    text-align: justify; color: #fff;
}
.accordion-heading
{
  font-size: 22px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .col-6{
flex: 0 0 100%;
max-width: 100%;
}
.container-sec {
    padding: 40px 40px !important; }
.col-6 {
    max-width: 100% !important; }
.instrument-image-sub{
  max-width: 100%;
  height: auto;
  
}
 
}
    </style>
    <!------Boot Strap Files-->
    
    
    <script src="/scripts/spanish-to-english-translate.js"></script>
    </head>
    
    
    <body>


<!------------------------------------Navigation Bar Section-One------------------------------------------>

<% include ../partials/navbar.ejs %>


  
    
        
<div class="container-sec">
  <div class="row">
  <div id="lt-blog" class="col-6">
        </div>
      
       

        <div id="lt-blog" class="col-6" style="padding: 30px;">
          <h1 style="line-height: 1em; color: #fff; text-align: left;">Instrumentos Musicales  </h1>
    
              <p style="color: #fff;">India es el heredero de uno de los sistemas de música más antiguos y evolucionados 
                del mundo. La continuidad de las tradiciones musicales de la India se establece a través del estudio 
                de textos musicales y numerosas referencias visuales que uno encuentra de instrumentos musicales en 
                pintura y escultura desde la prehistoria hasta nuestros días.

             </p>
              
          
        </div> 
      </div>
</div>
    
        
  


      <div class="container-fluid">

        

        <div class="row blog">
          
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                    
                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#">
                                        <img src="uploads/01.jpg" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">
                                        <img src="uploads/02.jpg" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">
                                        <img src="uploads/03.jpg" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">
                                        <img src="uploads/04.jpg" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#">
                                        <img src="uploads/05.jpg" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">
                                        <img src="uploads/06.jpg" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">
                                        <img src="uploads/01.jpg" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">
                                        <img src="uploads/02.jpg" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->

            </div>
        </div>
</div>




        
        <div class="container" style="padding-top:7%;">
        <div class="row">
        <div id="lt-blog" class="col-md-6">
    
        <h2 style="font-weight:bold; font-size: 3rem;" class="display-4">
            Acerca de la música</h2>
    <p>
    
      India es el heredero de uno de los sistemas de música más antiguos y evolucionados del mundo. 
      La continuidad de las tradiciones musicales de la India se establece a través del estudio de textos 
      musicales y numerosas referencias visuales que uno encuentra de instrumentos musicales en pintura y 
      escultura desde la prehistoria hasta nuestros días.
      <br><br>
      La evidencia más temprana de actividad musical se encuentra en las paredes de pinturas rupestres en 
      Bhimbetka y en varias partes de Madhya Pradesh, que fueron ocupadas por el hombre hace aproximadamente 
      10.000 años. Mucho más tarde, en las excavaciones de la civilización de Harappan también, hay evidencia 
      de actividad de danza y música.
      
    </p>
   
  
          </div>

    
          <div id="lt-blog" class="col-md-6">
            <img class="" src="https://peachmode.com/media/images/post/314/1570423429_Cover-Page.jpg" alt="image" style="width:100%; height:auto; margin-top:50px;">
    
          </div>
    
        </div> 
      </div>
    
    

      <div class="container" style=" padding-bottom:3%;">
        <div class="row">
        <div id="lt-blog" class="col-12">
<p>
      Los instrumentos musicales son la representación tangible y material de la música, que es un arte auditivo. Un estudio de estos ayuda a rastrear la evolución de la música y también explica muchos aspectos de la cultura material del grupo de personas al que pertenecen estos instrumentos. Por ejemplo, el cabello que se usa para hacer el arco, la madera o la arcilla que se usa para hacer el tambor, o la piel de los animales que se usan en los instrumentos, todo esto nos cuenta sobre la flora y la fauna de una región en particular.
      <br><br>
      La palabra tamil para instrumento-Karuvi se encuentra en la literatura de Sangam del siglo II al VI d. C., cuyo significado literal es "herramienta". Esto se extiende para significar instrumento en el contexto de la música.
      Los instrumentos muy antiguos pueden verse como una extensión del cuerpo humano y hasta hoy encontramos palitos y badajos. Los sonajeros de frutas secas, el Kaniyani Danda de Oraons o las bayas secas o conchas atadas a la cintura se utilizan para producir ritmo, incluso hoy.
      La mano se conoce como Hasta Veena, donde las manos y los dedos se usan para mostrar el sistema de notación de canto védico, coordinando el sonido con el gesto de la mano mudra.
      <br><br>

      </p>



     </div>
      </div>
     </div>

     <div class="container">
      <hr style="border-top: 1px solid rgba(255, 255, 255, 0.63);"> 
     </div>
    

     <div class="container" style="padding-top:30px;">

      <h3 style="line-height: 1.4em; font-weight: 600; text-align:justify;"> En la Natya Shastra, compilada por Bharat Muni con fecha de 200 a. C.-200 d. C., los instrumentos musicales se 
        han dividido en cuatro categorías principales en función de cómo se produce el sonido.</h3>
        <p style="line-height: 1.8em; font-weight: 600; font-size:18px;">
            (i)       &emsp13;&emsp14;<%=instruments[0].title%><br>
            (ii)      &emsp14;<%=instruments[1].title%><br>
            (iii)     <%=instruments[2].title%><br>
            (iv)      <%=instruments[3].title%><br>
  
        </p>
     </div>

      <%instruments.forEach(data=>{%>     
    <div class="container" style=" padding-bottom:3%;">
      <h2 style="padding-top:50px; margin-bottom:20px; font-weight: bold; font-size: 3rem;">
        <%=data.title%></h2>
      
      <div class="row">
      <div class="col-6"> 
      

<p class='target'>

  <%=data.content%>
</p>
   
</div>

<div class="col-6">
<iframe class="popular-artist-videos" src="https://www.youtube.com/embed/FqMB9pWTJpk" frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

        </div>
        </div>



        <section class="container custom-accordion">
 
          <button class="accordion"><h1 class="accordion-heading">Read more</h1></button>
          <div class="accordion-content">
           
            <div class="container-acc">
              

              <div class="container ">
                <!-------------------------------Show page start-->
                

            
                  <div class="text-center" style="margin-top:20px; margin-bottom:20px">
                    <%if(data.image!==""){%>
                    <img style="width:100%; height:auto; object-fit: contain;" src="<%= data.image%>" alt="data-image">
                <%}%>
                        
                      
                </div>
                <div class="mobile-container">
                  <%data.subInstruments.forEach(function(subInstrument){%>
                    
                    <div>
                    <h4 style="font-weight: 1000; margin-top:20px; color:whitesmoke"><%=subInstrument.title%></h4>
                    </div>
                   <% if(subInstrument.image!==""){%>
                    <div  class="text-center">
                      <img  style="max-height:auto; width: auto; object-fit: contain; margin-top: 20px; margin-bottom: 20px;" class="instrument-image-sub"src="<%=subInstrument.image%>" alt="image">
                    </div>
                  <%}%>
                    <div class="target mt-2" style="text-align: justify !important; font-size: 18px; color:white"><%=subInstrument.content%></div>
                  
                  <%})%>
                </div>
                    
                  
            
              </div>
              <!-------------------------------Instrument End ------------------------->
              <!---------------------------------Subinstrument start-->
            
              
           <!-------------------------------Show page end------------------------------->
                  

          </div>
                </div>
        </section>
      <%})%>
                
            
        



    
  
 <section class="baila-section section-six" style="padding:0; margin: 0;">
      <div class="container-fluid" style="width: 100%; margin: auto; border: none;">
        <div class="row footer-row">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 footer-left ">
            <div id="logo-float">            
            <a href="https://www.bailabollywood.com/" target="_blank"> <img class="footer-logo mt-5"
                src="/images/baila-bollywood-transparent-white.png" alt="spanish bolo" style="width: 140px; height: 140px;"></a>
            
            <a href="https://www.spanishbolo.com/" target="_blank"> <img class="footer-logo mt-5"
                src="/images/spanish-bolo-logo.png" style="max-width: 140px; max-height: 140px;" alt="spanish bolo"></a>
            </div>
            <p class="text-white text-center mt-3">Nuestros proyectos <a href="https://www.spanishbolo.com/" target="_blank">SpanishBOLO</a> y BailaBollywood exploran los rincones culturales  de la India y el mundo hispanohablante, para compartir estas riquezas con nuestros lectores, y así,  afianzar el  vínculo entre ambas regiones, creando un sentido de comunidad y hermandad social.   
      </p>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 footer-center">
            <h4 class="mt-5  display-5">Conecta con Nosotros :</h4>
            <br>
            <div class="social-icons row justify-content-center">
              <a href="https://www.facebook.com/Baila-Bollywood-105697461007966/"
                class="col-4 fa fa-facebook text-center" title="Facebook Link" target="_blank"></a>
             
              <a href="https://www.linkedin.com/in/baila-bollywood-3a3b031a1" class="col-4 fa fa-linkedin  text-center"
                title="Linkedin Link" target="_blank"></a>
              <a href="https://instagram.com/bailabollywood20?igshid=15jmz5uzyz1jj"
                class="col-4 fa fa-instagram text-center" title="Instagram Link" target="_blank"></a>
              <a href="https://www.quora.com/share/Baila-Bollywood-on-Instagram-Introducing-Baila-Bollywood-3-days-to-go-bailabollywood-spanishculture-indianculture-bollywood-music-spanishbolo-1?ch=3&share=2cd5e92a&srid=uOprOw"
                title="Quora Link" class="col-4 fa fa-quora  text-center" target="_blank"></a>
              <a href=" https://link.medium.com/jSOvCnafY3" class="col-4 fa fa-medium  text-center" title="Medium Link"
                target="_blank"></a>
                <a href="https://www.youtube.com/channel/UCUb7jsujf73W8NaVYXqOZ1w?view_as=subscriber" class="col-4 fa fa-youtube  text-center" title="Youtube Link"
                target="_blank"></a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 footer-right">
            <img src="/images/baila-bollywood-transparent-white.png" class="footer-right-img " alt="baila bollywood">
          </div>
        </div>
      </div>
    </section>
  
    <div class="footer-section ">
    <i style="color:#fff"class="fa mr-3 d-block fa-flag-checkered"></i>
      Website Made With &hearts; By <div style="line-height: 48px;"><a href=" https://www.linkedin.com/in/vaibhav-kaul-ab5941182/"
          class="text-white mx-1" target="_blank" title="Vaibhav's Linkedin Profile" style="font-size: 20px;">Vaibhav Kaul</a></div>
      And <a href="https://www.linkedin.com/in/pawan-saggu-06589b157/" class="text-white mx-1"
          target="_blank" title="Pawan's Linkedin Profile" style="font-size: 20px">Pawan Saggu</a>
          <a style="text-decoration: underline;" href="#privacyPolicyModal" class="text-white text-center  mb-1"  data-toggle="modal" data-target="#privacyPolicyModal">Política de Privacidad</a>
      <br />
      &copy; 2020 Copyright BailaBollywood<img src="/images/Spanish-bolo-natraj-transparent.png" alt="Spanish Bolo">
  </div>



   

  <script>
    var accordions = document.getElementsByClassName("accordion");
     
    for (var i = 0; i < accordions.length; i++) {
      accordions[i].onclick = function() {
        this.classList.toggle('is-open');
     
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          // accordion is currently open, so close it
          content.style.maxHeight = null;
        } else {
          // accordion is currently closed, so open it
          content.style.maxHeight = content.scrollHeight + "px";
        }
      }
    }
      </script>

    
  <script>
  $(".target").each(function(){
    let text = ( $(this).text());
    //text = text.substring(0,200);
    //text = text + "...."
    let html = $.parseHTML(text);
    $(this).empty();
    $(this).append(html);
  });
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>